@model Rating.Models.Institution

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="login-block-register">
<div class="col-md-9 block-register">
    <form asp-action="Register" asp-controller="Account" method="post" id="signup">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="client_form">
            @{
                await Html.RenderPartialAsync("Partial/PartialCrateForm");
            }
            <div class="form-group form-group-btn-register" style="text-align: end;">
                <button type="submit" class="btn register-btn">
                    Добавить заведения 
                </button>
            </div>

        </div>
    </form>
</div>
</div>
