@model List<Institution>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2 style="padding-bottom: 50px">Все заведения</h2>
<div class="container-places">
    <div class="all-places">
        @foreach (Institution institution in Model)
        {
            <div class="box-plc">
                <div class="box-img">
                    <a asp-action="Details" asp-controller="Institutions" asp-route-institutionId="@institution.Id">
                        <img class="images-as" src="~/@institution.PhotoPath" alt="">
                    </a>
                </div>
                <div>
                    <h5>@institution.Name</h5>
                    <p>55555</p>
                    <p>комментарии</p>
                    <p><span>20</span> фото</p>
                </div>
            </div>
        }

    </div>
</div>
