@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using Rating.Models.Data
@inject UserManager<IdentityUser> _userManager;
@inject RatingContext _db;
@{
    string name = "";
    if (User.Identity.IsAuthenticated)
    {
        var user = await _db.Users.FirstOrDefaultAsync(u => u.UserName == User.Identity.Name);
        name = user.UserName;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Rating</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="" asp-action="">Кафе-Критики</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                
                <ul class="navbar-nav flex-grow-1 justify-content-end my-navbar-nav-n1">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="link2" href="#">@name</a>
                        </li>
                        <span class="space">/</span>
                        <li class="nav-item">
                            <a class="link2" asp-controller="Account" asp-action="Logout">Выйти </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="link2" asp-controller="Account" asp-action="Login">Вход </a>
                        </li>
                        <span class="space">/</span>
                        <li class="nav-item">
                            <a class="link2" asp-controller="Account" asp-action="Register"> Регистрация</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - Rating - <a asp-area="" asp-controller="" asp-action="">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>